# ============ 白名单模式：只提交以下文件夹 ============
# 默认忽略所有文件
/*
!.gitignore
!/学习/
!/项目/

# 回收站 / 系统杂项
.trash/
.DS_Store
Thumbs.db

/项目/Qwen_RAG.md
/项目/Qwen_RAG.md
/项目/学生信息管理系统.md
/学习/JavaWeb/Web前端设计/Vue3项目排障实录.md
/学习/JavaWeb/Web前端设计/Vite+Vue3+Pinia+Router.md